*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{
    margin:0;
}
.screen{
 display: flex;
 height: 100vh;
}
.leftside{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftside img{
    width: 350px;
    height: auto;
}
.rightside{
    width: 400px;
    padding: 50px;
    background-color: #ddd;
}
.rightside h1{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(19, 137, 173);
}

.rightside label{
    display: block;
    margin: 40px 0;
    margin-left: 30px;
    font-weight: bold;
}
label .btn{
    font-weight: bold;
}

.rightside input{
    width: 100%;
    font-size: 14px;
    border: solid #999 2px;
    border-radius: 5px;
    outline: 0;
    padding: 8px;
}
.errorJs{
    padding: 4px;
    border-radius: 5px;
    color: white;
    font-size: 11px;
    background-color: rgba(255, 0, 0, 0.493);

}

div .rodapé{
    display:flex ;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

div .form-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
div .form-img img{
    width: 150px;
    height: auto;   
}
@media (max-width: 390px ){
    
    .screen{
        display: flex;
        flex-direction: column;
    }
    .leftside img{
        padding: 40px;
        width: 300px;
        height: auto;
    }
    


    
}