*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{
    margin:0;
}
.screen{
 display: flex;
 height: 100vh;
}
.leftside{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftside img{
    max-width: 850px;
    height: auto;
}
.rightside{
    width: 400px;
    padding: 50px;
    background-color: #ddd;
}
.rightside h1{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
}

.rightside label{
    display: block;
    margin: 40px 0;
    margin-left: 30px;
}

.rightside input{
    width: 100%;
    font-size: 14px;
    border: solid #999 2px;
    border-radius: 5px;
    outline: 0;
    padding: 8px;
}

div .rodapé{
    display:flex ;
    justify-content: center;
    font-weight: bold;
}